[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
CoreDataModules = {git = "https://www.github.com/AfricasVoices/CoreDataModules", editable = true}
firebase_admin = "*"
psutil = "*"

[dev-packages]

[requires]
python_version = "3.7"
